{# My macro didn't work on the first attempt. Leaving it to the real developers, hehe #}
{# {% macro faculty($name) %}
<div class="e-course-faculty column large-3" style="background-image: url('./img/faculty/{{name | slug}}.jpg');">
  <p>{{name}}</p>
</div>
{% endmacro %} #}

{% extends '_base.html' %}
{% block main %}
<div class="b-course-list m-coaching">
  <div class="b-top-section"> {# This gets the course type class modifier for color coding #}
    <div class="row">
      <div class="large-12 column">
        <h1>Coaching Programs</h1>
        <h3>Geared to the purpose-driven participant inside and outside of government  (both individuals and teams) passionate about a public problem and already undertaking a project, these programs are designed to help participants develop a project from idea to implementation.</h3>
      </div>
    </div>
  </div>

  <div class="b-page-section">
    <div class="row">
      <div class="large-12 column">
        <h2>Programs offer </h2>
        <ul>
          <li>Frequent and constructive feedback</li>
          <li>Customized and original learning materials</li>
          <li>Peer-to-peer support</li>
          <li>Introductions to global topic experts</li>
          <li>Group meetings online with the faculty for 1-2 hours: one hour is for discussion of projects by the whole group and the second hour, a guest lecture</li>
          <li>Faculty and staff online office hours with the teams to address project progress</li>
        </ul>
        <a href="http://goo.gl/forms/j403fD74Jk" class="b-button">Suggest a coaching program<i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
  </div>

  <div class="b-divider">
    <div class="row">
      <div class="large-12 column">
        <h3>Our Method</h3>
      </div>
    </div>
  </div>
  <div class="b-page-section">
    <div class="row">
      <div class="large-12 column">
        <img src="./img/coaching-diagram2.png" alt="Coaching program Lifecycle">
      </div>
    </div>
    <div class="row">
      <div class="large-12 column">
        <ul>
          <li>A flexible, customized program responsive to the participants’ specific needs and challenges </li>
          <li>Rigorous diagnosis of impediments to project implementation that allow us to customize
          learning;</li>
          <li>Emphasis on specific and evidence­-based problem definition to ensure that the project solves a well­defined problem;</li>
          <li>A combination of subject­-matter and skills­-based training to address both deficits in knowledge about innovation and in know how about how to apply that knowledge to one’s own project;</li>
          <li>Peer­-to-­peer support where similarly situated public entrepreneurs counsel and support each other through challenges together;</li>
          <li>Mentoring and coaching from experts with a track record of leading successful social change;</li>
          <li>High­-quality original and curated content ,tools, and resources</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="b-divider">
    <div class="row">
      <div class="large-12 column">
        <h3>Upcoming courses</h3>
      </div>
    </div>
  </div>
  <ul class="b-course-list">
    {% for course in coaching %}
      {% if course.is_active and not course.date.start | isOutdated %}
      <li class="e-course-item">
        <div class="row">
          <div class="large-12 column">
            <h2 class="e-course-title">{{course.name}}</h2>
          </div>
          <div class="large-6 column">
            
            <p class="e-course-application">APPLICATION DUE: {{ course.date.application}}</p>
            <div class="e-course-faculty-team row column">
              {% for name in course.faculty_members %}
              {% set person = name | returnPerson %}
                {% if person %}
                 <a href="{{person.id}}-{{person.name.slug}}.html">
                  <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{ person.name.slug }}.jpg');">
                  <p>{{person.name.first}} {{person.name.last}}</p>
                {% else %}
                  <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{person.id}}-{{ person.name.slug  }}.jpg');">
                    <p>{{name}}</p>
                {% endif %}
                  </div>
                  </a>
              {% endfor %}
            </div>
          </div>
          <div class="large-6 column">
            <p class="e-course-description">{{course.description_short | safe}}</p>
            <a href="{{ course.id }}.html" class="b-button">more info</a>
          </div>
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="b-divider">
    <div class="row">
      <div class="large-12 column">
        <h3>Past courses</h3>
      </div>
    </div>
  </div>
  <ul class="b-course-list m-past-courses">
    {% for course in coaching %}
      {% if course.is_active and course.date.start | isOutdated %}
        <li class="e-course-item">
          <div class="row">
            <div class="large-6 column">
              <h2 class="e-course-title">{{ course.name }}</h2>
              <p class="e-course-application">APPLICATION DUE: {{ course.date.application }}</p>
              <div class="e-course-faculty-team">
              {% for name in course.faculty_members %}
                {% set person = name | returnPerson %}
                {% if person %}
                 <a href="{{person.id}}-{{person.name.slug}}.html">
                  <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{ person.name.slug }}.jpg');">
                  <p>{{person.name.first}} {{person.name.last}}</p>
                {% else %}
                  <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{ person.name.slug  }}.jpg');">
                    <p>{{name}}</p>
                {% endif %}
                </div>
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="large-6 column">
            <p class="e-course-description">{{ course.description_short | safe }}</p>
            <a href="{{ course.id }}.html" class="b-button">more info</a>
          </div>
        </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}