{% extends '_base.html' %}
{% block main %}
<div class="b-top-section m-coaching"> {# This gets the course type class modifier for color coding #}
  <div class="row">
    <div class="large-12 column">
      <h1>Coaching Programs</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos illum omnis atque error nihil! Asperiores aliquid cumque rem doloribus saepe quas nam perferendis minima, ut ullam quis tenetur eaque eveniet.</h3>
    </div>
  </div>
</div>
<div class="b-divider">
  <div class="row">
    <div class="large-12 column">
      <h3>Upcoming courses</h3>
    </div>
  </div>
</div>
<ul class="b-course-list">
  <li class="e-course-item">
    <div class="row">
      <div class="large-6 column">
        <h2 class="e-course-title">Tech Innovation in Procurement</h2>
        <p class="e-course-application">APPLICATION DUE: MAY 23, 2016</p>
        <div class="e-course-faculty-team">
          <div class="e-course-faculty">Clay Johnson</div>
        </div>
      </div>
      <div class="large-6 column">
        <p class="e-course-description">The way government purchases, especially information technology, is profoundly broken. Government should not be spending as much to make a website as it invests in scientific research to map the human brain. Contracts should not get awarded to the same enterprise over and over again but attract more and more diverse competitors.</p>
        <a href="#" class="b-button">more info</a>
      </div>
    </div>
  </li>

  <li class="e-course-item">
    <div class="row">
      <div class="large-6 column">
        <h2 class="e-course-title">Coaching Program for Data Driven Criminal Justice Projects</h2>
        <p class="e-course-application">APPLICATION DUE: MAY 23, 2016</p>
        <div class="e-course-faculty-team">
          <div class="e-course-faculty">Stefaan Verhulst</div>
          <div class="e-course-faculty">Beth Simone Noveck</div>
          <div class="e-course-faculty">Ana Tovar</div>
          <div class="e-course-faculty">Alan Kantrow</div>
        </div>
      </div>
      <div class="large-6 column">
        <p class="e-course-description">The way government purchases, especially information technology, is profoundly broken. Government should not be spending as much to make a website as it invests in scientific research to map the human brain. Contracts should not get awarded to the same enterprise over and over again but attract more and more diverse competitors.</p>
        <a href="#" class="b-button">more info</a>
      </div>
    </div>
  </li>

  <li class="e-course-item">
    <div class="row">
      <div class="large-6 column">
        <h2 class="e-course-title">Tech Innovation in Procurement</h2>
        <p class="e-course-application">APPLICATION DUE: MAY 23, 2016</p>
        <div class="e-course-faculty-team">
          <div class="e-course-faculty">Clay Johnson</div>
        </div>
      </div>
      <div class="large-6 column">
        <p class="e-course-description">The way government purchases, especially information technology, is profoundly broken. Government should not be spending as much to make a website as it invests in scientific research to map the human brain. Contracts should not get awarded to the same enterprise over and over again but attract more and more diverse competitors.</p>
        <a href="#" class="b-button">more info</a>
      </div>
    </div>
  </li>
</ul>
<div class="b-divider">
  <div class="row">
    <div class="large-12 column">
      <h3>Past courses</h3>
    </div>
  </div>
</div>
<ul class="b-course-list m-past-courses">
  <li class="e-course-item">
    <div class="row">
      <div class="large-6 column">
        <h2 class="e-course-title">Coaching Program for Data Driven Criminal Justice Projects</h2>
        <p class="e-course-application">APPLICATION DUE: MAY 23, 2016</p>
        <div class="e-course-faculty-team">
          <div class="e-course-faculty">Stefaan Verhulst</div>
          <div class="e-course-faculty">Beth Simone Noveck</div>
          <div class="e-course-faculty">Ana Tovar</div>
          <div class="e-course-faculty">Alan Kantrow</div>
        </div>
      </div>
      <div class="large-6 column">
        <p class="e-course-description">The way government purchases, especially information technology, is profoundly broken. Government should not be spending as much to make a website as it invests in scientific research to map the human brain. Contracts should not get awarded to the same enterprise over and over again but attract more and more diverse competitors.</p>
        <a href="#" class="b-button">more info</a>
      </div>
    </div>
  </li>

  <li class="e-course-item">
    <div class="row">
      <div class="large-6 column">
        <h2 class="e-course-title">Tech Innovation in Procurement</h2>
        <p class="e-course-application">APPLICATION DUE: MAY 23, 2016</p>
        <div class="e-course-faculty-team">
          <div class="e-course-faculty">Clay Johnson</div>
        </div>
      </div>
      <div class="large-6 column">
        <p class="e-course-description">The way government purchases, especially information technology, is profoundly broken. Government should not be spending as much to make a website as it invests in scientific research to map the human brain. Contracts should not get awarded to the same enterprise over and over again but attract more and more diverse competitors.</p>
        <a href="#" class="b-button">more info</a>
      </div>
    </div>
  </li>
</ul>
{% endblock %}