{% extends '_base.html' %}
{% block main %}
<section class="b-highlights">
    <div class="row expanded">  
      <div class="large-8 column">
        <div class="large-12 column">
          <div class="b-slider">
            <div class="b-slide m-orange">
              <h1>Highlighted Stuff</h1>
            </div>
            <div class="b-slide m-orange">
              <h1>Highlighted Stuff</h1>
            </div>
            <div class="b-slide m-orange">
              <h1>Highlighted Stuff</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 column">
        <div class="row expanded">
          <a href="http://canvas.govlabacademy.org/"><div class="large-12 column b-small-banner m-canvas">Canvas</div></a>   
          <a href="./community.html"><div class="large-12 column b-small-banner m-noi">Community</div></a>
        </div>
      </div>
    </div>
</section>

{# TEMP GOV LAB ACADEMY ONE-LINER  and ACTION POINTS#}

<!-- <section class="b-main-categories">
  <div class="b-divider">
  <h2>The GovLab Academy</h2>
  <h4>Training the Next Generation of Public Entrepreneurs</h4>
  </div>
  <div class="row expanded">
    <a href="./faculty.html" class="e-item m-coaching large-3 column">Meet the People</a>
    <a href="./programs.html" class="e-item m-clinics large-3 column">Find a Course</a>
    <a href="http://canvas.govlabacademy.org/" class="e-item m-workshop large-3 column">Learn about Problem Definition</a>
    <a href="./library.html" class="e-item m-masters large-3 column">Find Additional Resources</a>
  </div>
</section> -->

<section class="b-page-section m-sequence m-coaching">
  <div class="e-content">
    <h2>Coaching Programs</h2>
    <p>Online coaching sessions designed to help purpose-driven participants (individuals and teams, inside and outside of government), passionate about a public problem, take an existing project from idea to implementation. Sessions meet every week for 5 weeks or every other week for 10 weeks. Limited to 10 teams or individuals.</p>
    <p><a href="./coaching-programs.html" class="b-button m-coaching">View Courses</a></p>
  </div>
  <div class="e-sequence-image" style="background-image: url(../img/coaching.jpeg);"></div>
  {# <div class="e-sequence-image"><img src="../img/coaching.jpeg" alt=""></div> #}
</section>

<section class="b-page-section m-sequence m-workshop">
  <div class="e-content">
      <h2>Workshops</h2>
      <p>Customized 1-3 day, hands on, in-person working sessions for city and government agency-based teams on specific issues and challenges at one or another stage of the governance innovation process. </p>
      <p><a href="./workshops.html" class="b-button m-workshop">View Courses</a></p>
    </div>
    <div class="e-sequence-image" style="background-image: url(../img/workshops.jpeg);"></div>
</section>

<section class="b-page-section m-sequence m-masters">
  <div class="e-content">
      <h2>Master Classes</h2>
      <p>Masters and professional-level project-based courses and clinics focused on the innovative application of civic technology to public problems. Online or blended delivery.</p>
      <p><a href="./master-classes.html" class="b-button m-masters">View Courses</a></p>
    </div>
    <div class="e-sequence-image" style="background-image: url(../img/masters.jpeg);"></div>
</section>

<section class="b-page-section m-sequence m-clinics">
  <div class="e-content">
    <h2>Courses and Project Clinics</h2>
    <p>Graduate and professional-level courses, for credit and/or for certification, on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation.</p>
    <p><a href="./project-clinics.html" class="b-button m-clinics">View Courses</a></p>
  </div>
    <div class="e-sequence-image" style="background-image: url(../img/clinics.jpeg);"></div>
</section>

<section class="b-upcoming-courses">
  <div class="row expanded">
  {% set latestCourses = coaching | getLatestCourses %}
  {% for course in latestCourses %}
    <div class="e-item m-coaching large-4 column">
      <div class="e-date">{{course.date.start}}</div>
        <h3>{{course.name}}</h3>
        <p>{{course.description_short | safe | truncate(100)}}</p>
        <a href="{{course.id}}.html" class="b-button m-light-orange">Learn more</a>
    </div>
    {% endfor %}
  </div>
</section>

<!-- NEW SLIDER -->
<div class="govlab-digest e-banner-container">
  <div class="b-slider slick">
  <!-- ARTICLE 1 -->
    <section id="slide-id" class="b-slide m-orange">
      <header>
        <h4>The GovLab Digest</h4>
      </header>
      <div class="row e-content">
        <div class="column medium-6">
          <h2 class="e-project-name js-article-1-title"></h2>
          <h3 class="js-article-1-author"></h3>
        </div>
        <div class="column medium-6">
          <p class="js-article-1-content"></p>
        </div>
      </div>
      <div class="row e-content">
        <div class="column medium-6">
          <div class="e-action">
            <a class="b-button m-naked" href="http://thegovlab.org/category/govlab-digest/">Read the Digest<i class="material-icons">arrow_forward</i></a>
          </div>
        </div>
        <div class="column medium-6">
          <div class="e-action">
            <a class="b-button m-naked js-article-1-link" href='#'>Find out more<i class="material-icons">arrow_forward</i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- ARTICLE 2 -->
    <section id="slide-id" class="b-slide m-orange">
      <header>
        <h4>The GovLab Digest</h4>
      </header>
      <div class="row e-content">
        <div class="column medium-6">
          <h2 class="e-project-name js-article-2-title"></h2>
          <h3 class="js-article-2-author"></h3>
        </div>
        <div class="column medium-6">
          <p class="js-article-2-content"></p>
        </div>
      </div>
      <div class="row e-content">
        <div class="column medium-6">
          <div class="e-action">
            <a class="b-button m-naked" href="http://thegovlab.org/category/govlab-digest/">Read the Digest<i class="material-icons">arrow_forward</i></a>
          </div>
        </div>
        <div class="column medium-6">
          <div class="e-action">
            <a class="b-button m-naked js-article-2-link" href='#'>Find out more<i class="material-icons">arrow_forward</i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- ARTICLE 3 -->
    <section id="slide-id" class="b-slide m-orange">
      <header>
        <h4>The GovLab Digest</h4>
      </header>
      <div class="row e-content">
        <div class="column medium-6">
          <h2 class="e-project-name js-article-3-title"></h2>
          <h3 class="js-article-3-author"></h3>
        </div>
        <div class="column medium-6">
          <p class="js-article-3-content"></p>
        </div>
      </div>
      <div class="row e-content">
        <div class="column medium-6">
          <div class="e-action">
            <a class="b-button m-naked" href="http://thegovlab.org/category/govlab-digest/">Read the Digest<i class="material-icons">arrow_forward</i></a>
          </div>
        </div>
        <div class="column medium-6">
          <div class="e-action">
            <a class="b-button m-naked js-article-3-link" href='#'>Find out more<i class="material-icons">arrow_forward</i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- ARTICLE 4 -->
    <section id="slide-id" class="b-slide m-orange">
    <header>
      <h4>The GovLab Digest</h4>
    </header>
    <div class="row e-content">
      <div class="column medium-6">
        <h2 class="e-project-name js-article-4-title"></h2>
        <h3 class="js-article-4-author"></h3>
      </div>
      <div class="column medium-6">
        <p class="js-article-4-content"></p>
      </div>
    </div>
    <div class="row e-content">
      <div class="column medium-6">
        <div class="e-action">
          <a class="b-button m-naked" href="http://thegovlab.org/category/govlab-digest/">Read the Digest<i class="material-icons">arrow_forward</i></a>
        </div>
      </div>
      <div class="column medium-6">
        <div class="e-action">
          <a class="b-button m-naked js-article-4-link" href='#'>Find out more<i class="material-icons">arrow_forward</i></a>
        </div>
      </div>
    </div>
    </section>
    <!-- ARTICLE 5 -->
    <section id="slide-id" class="b-slide m-orange">
      <header>
        <h4>The GovLab Digest</h4>
      </header>
      <div class="row e-content">
        <div class="column medium-6">
          <h2 class="e-project-name js-article-5-title"></h2>
          <h3 class="js-article-5-author"></h3>
        </div>
        <div class="column medium-6">
          <p class="js-article-5-content"></p>
        </div>
      </div>
      <div class="row e-content">
        <div class="column medium-6">
          <div class="e-action">
            <a class="b-button m-naked" href="http://thegovlab.org/category/govlab-digest/">Read the Digest<i class="material-icons">arrow_forward</i></a>
          </div>
        </div>
        <div class="column medium-6">
          <div class="e-action">
            <a class="b-button m-naked js-article-5-link" href='#'>Find out more<i class="material-icons">arrow_forward</i></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="b-subscribe">
    <div class="row">
      <div class="large-12 column e-intro">
        <h4><strong>Subscribe</strong> to The GovLab Digest</h4>
        <p>A weekly curation of new findings and developments on innovation in governance</p>
      </div>
    </div>
    <div class="row">
      <div class="large-8 column large-offset-2">
        <form method="post" action="//thegovlab.us6.list-manage.com/subscribe/post?u=1a990feb5c&amp;id=d90a01c7ff" target="_blank" >
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_d90a01c7ff" tabindex="-1" value=""></div>

            <input type="email" name="EMAIL" placeholder="Email">
            <button class="b-button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="large-12 column">
        <p class="u-align-center"><a href="http://thegovlab.org/category/govlab-digest/" target="_blank" class="b-button m-naked">Go to Digest<i class="material-icons">arrow_forward</i></a></p>
      </div>
    </div>
    </div>
  </div>



<!-- END NEW SLIDER -->

{% endblock %}