{# My macro didn't work on the first attempt. Leaving it to the real developers, hehe #}
{# {% macro faculty($name) %}
<div class="e-course-faculty column large-3" style="background-image: url('./img/faculty/{{name | slug}}.jpg');">
  <p>{{name}}</p>
</div>
{% endmacro %} #}

{% extends '_base.html' %}
{% block main %}
<div class="b-course-list m-clinics">
  <div class="b-top-section"> {# This gets the course type class modifier for color coding #}
    <div class="row">
      <div class="large-12 column">
        <h1>Courses &amp; Project Clinics</h1>
        <h3>Graduate - and professional-level courses, for credit and/or for certification, on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation.</h3>
      </div>
    </div>
  </div>
  <div class="b-divider">
    <div class="row">
      <div class="large-12 column">
        <h3>Upcoming courses</h3>
      </div>
    </div>
  </div>
  <ul class="b-course-list">
    {% for course in clinics %}
      {% if not course.is_crosslisted %}
      <li class="e-course-item">
        <div class="row">
          <div class="large-12 column">
            <h2 class="e-course-title">{{course.name}}</h2>
          </div>
          <div class="large-6 column">
            
            <p class="e-course-application">APPLICATION DUE: {{ course.date.application}}</p>
            <div class="e-course-faculty-team row column">
              {% for name in course.faculty_members %}
              {% set person = name | returnPerson %}
                {% if person %}
                 <a href="{{person.id}}-{{person.name.slug}}.html">
                  <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{ person.name.slug }}.jpg');">
                  <p>{{person.name.first}} {{person.name.last}}</p>
                {% else %}
                  <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{ person.name.slug  }}.jpg');">
                    <p>{{name}}</p>
                {% endif %}
                  </div>
                  </a>
              {% endfor %}
            </div>
          </div>
          <div class="large-6 column">
            <p class="e-course-description">{{course.description_short | safe}}</p>
             {% if course.actions %}
              {% for action in course.actions %}
              <a class="b-button" href="{{action.link}}">{{action.label}}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="b-divider">
    <div class="row">
      <div class="large-12 column">
        <h3>Courses offered by partner organizations</h3>
      </div>
    </div>
  </div>
  <ul class="b-course-list m-past-courses">
    {% for course in clinics %}
      {% if course.is_crosslisted %}
      <li class="e-course-item">
        <div class="row">
          <div class="large-6 column">
            <h2 class="e-course-title">{{course.name}}</h2>
            <p class="e-course-application">APPLICATION DUE: {{course.date.application}}</p>
            <div class="e-course-faculty-team">
              {% for name in course.faculty_members %}
              {% set person = name | returnPerson %}
                {% if person %}
                 <a href="{{person.id}}-{{person.name.slug}}.html">
                  <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{ person.name.slug }}.jpg');">
                  <p>{{person.name.first}} {{person.name.last}}</p>
                {% else %}
                  <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{ person.name.slug  }}.jpg');">
                    <p>{{name}}</p>
                {% endif %}
                  </div>
                  </a>
              {% endfor %}
            </div>
          </div>
          <div class="large-6 column">
            <p class="e-course-description">{{course.description_short | safe}}</p>
            {% if course.actions %}
              {% for action in course.actions %}
              <a class="b-button" href="{{action.link}}">{{action.label}}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </li>
      {% endif %} 
    {% endfor %}
  </ul>
</div>
{% endblock %}