.b-top-section {
    &.m-clinics { background-color: $clinics-color; }
    &.m-coaching { background-color: $coaching-color; }
    &.m-masters { background-color: $workshop-color; }
    &.m-workshop { background-color: $masters-color; }
}

.b-divider {
    text-align: center; //let's port this to styleguide
}

