.b-faculty-page {
  .b-faculty {
    .e-list-item {
      text-align: center;
      height: 380px;

      .e-picture {
        height: 250px;
        width: 250px;
        margin: 0 auto 30px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0 0 8px rgba($black, .1);
      }

      .e-name {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0;
      }

      .e-job {
        font-size: 1rem;
        color: rgba($black, .6);
      }
    }
  }
}

.b-faculty-detail {
  .b-faculty-header {
    .e-faculty-picture {
        height: 250px;
        width: 250px;
        margin: 0 auto 30px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0 0 8px rgba($black, .1);
    }
    .b-social-media-icon {
      padding: 10px;
      font-size: 18px;
    }
  }
}