.b-highlights {
    @extend .b-top-section;
    padding: 65px 0 0 !important;

    .b-slide {
        padding: 140px 0;
    }
    background-color: $primary;
}

.b-small-banner {
    height: 200px;

    &.m-canvas { background-color: $primary; }
    &.m-noi { background-color: $blue; }
}

.b-main-categories {
    .e-item {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        padding: 50px 0;
        color: $white;

        &.m-clinics { background-color: $clinics-color; }
        &.m-coaching { background-color: $coaching-color; }
        &.m-masters { background-color: $workshop-color; }
        &.m-workshop { background-color: $masters-color; }
    }
}

.b-upcoming-courses {
    @include breakpoint($desktop) {
        display: flex;
    }
    @include breakpoint($mobile-only) {
        display: inline;
    }
    .e-item {
        display: flex;
        flex-direction: column;
        padding: 50px;
        height: 100%;
        padding-bottom: 5rem;
        flex-grow: 1;
        .e-course_name {
            flex-grow: 1;
        }
        .b-button { 
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            color: $white;
            position: absolute;

            }


        &:nth-of-type(odd) { background-color: rgba($black, .05); }

        &.m-clinics {
            .b-button { background-color: $clinics-color; }
        }
        &.m-coaching { 
            .b-button { background-color: $coaching-color; }
        }
        &.m-masters  {
            .b-button { background-color: $masters-color; }
        }
        &.m-workshop { 
            .b-button { background-color: $workshop-color; }
        }
    }
}
