@import '../../node_modules/govlab-styleguide/sass/styles.scss'; // govlab-styleguide sass

$clinics-color: #c2c33b;
$coaching-color: #008895;
$workshop-color: #ad0054;
$masters-color: #008ab3;

@import 'subscribe';
@import 'homepage';
@import 'course-list';
@import 'course-detail';
// NEEDED FOR PROJECT GALLERY - PULLED FROM OLD SITE
@import 'project-gallery';
@import 'progress';
@import 'project-detail';
@import 'faculty';
@import 'expandable';
@import 'breadcrumbs';

@import 'custom';