@import '../../node_modules/govlab-styleguide/sass/styles.scss'; // govlab-styleguide sass

$orange: #ee5b43; //main academy orange
$light-orange: #F47156;
$yellow: #f9b26f;
$light-yellow: #efce7c;
$green: #22a69b;
$blue: #366473;

$primary: $orange;
$secondary: $light-orange;
$coaching-color: $green;
$workshop-color: $blue;
$masters-color: $yellow;
$clinics-color: $light-yellow;

.b-button.m-orange {background-color: $orange}
.b-button.m-light-orange {background-color: $light-orange !important}
.b-button.m-clinics { background-color: $clinics-color; }
.b-button.m-coaching { background-color: $coaching-color; }
.b-button.m-masters { background-color: $masters-color; }
.b-button.m-workshop { background-color: $workshop-color; }

.m-primary {background-color: $primary;}
.m-secondary {background-color: $secondary;}

@import 'subscribe';
@import 'homepage';
@import 'course-list';
@import 'course-detail';
// NEEDED FOR PROJECT GALLERY - PULLED FROM OLD SITE
@import 'project-gallery';
@import 'progress';
@import 'project-detail';
@import 'faculty';
@import 'expandable';
@import 'breadcrumbs';

@import 'custom';


// NAV MENU SCROLL
.b-main-menu {
  overflow-x: auto;
  &::-webkit-scrollbar {
      width: 8px;
  }
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px inherit; 
      -webkit-border-radius: 14px;
      border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 14px;
      background: inherit; 
      -webkit-box-shadow: inset 0 0 6px $gray-15; 
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $gray-15; 
  }
}

// PAGE STYLES
.b-programs-page, .b-about-page {
  .b-button {background-color: $secondary}
}
