{% extends '_base.html' %}
{% block main %}
<div class="b-faculty-detail m-coaching">
  <div class="b-faculty-header">
    <div class="row">
      <div class="large-8 column large-centered">
        <div class="e-faculty-picture" style="background-image:url(./img/faculty/{{ name.slug }}.jpg"></div>
        <h2>{{name.first}} {{name.last}}</h2>
        <h3 class="e-tagline">{{name.job}}</h3>
      </div>
    </div>
  </div>
  <div class="b-page-section">
    <div class="row">
      <div class="large-8 column large-centered">
        <div class="e-course-passion">
          
          <p>{{ description | safe }}</p>
        </div>
      </div>
    </div>
  </div>
  {# The sections below will only be rendered if the faculty has classes listed #}
  {% set fullname = name.first + " " + name.last %}
  {% set courses = fullname | getCourses %}    
  {% if not courses | length == 0 %}
  <div class="b-divider">
    <div class="row">
      <div class="large-12 column"><h2>Courses</h2></div>
    </div>
  </div>
  {% for course in courses %}
  <ul class="b-course-list">
    <li class="e-course-item">
      <div class="row">
        <div class="large-12 column">
          <h2 class="e-course-title">{{ course.name }}</h2>
        </div>
        <div class="large-6 column">
          
          <p class="e-course-application">APPLICATION DUE: {{ course.date.application }}</p>
          <div class="e-course-faculty-team">
            {% for name in course.faculty_members %}
            {% set person = name | returnPerson %}
              <div class="e-course-faculty column large-3 end" style="background-image: url('./img/faculty/{{person.name.slug}}.jpg');">
                <p>{{person.name.first}} {{person.name.last}}</p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="large-6 column">
          <p class="e-course-description">{{ course.description_short | safe }}</p>
          <a href="{{course.id}}.html" class="b-button">more info</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}